/*General Styling*/
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root {}

/*Reset*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button {
    border: 0;
}

/*General Styling*/

body {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background-color: var(--very-light-gray);
}


h1 {
    font-family: "Big Shoulders Display";
}

p,
a {
    font-family: "Lexend Deca";
}

body {
    background-color: lightblue;
}


.card-section {
    width: 85%;
    margin: 100px auto;
    display: block;
}

.card {
    padding: 20px;
    margin: 20px;
    background-color: whitesmoke;
    border-radius: 5%;
    height: 300px;
    width: 90%;
    cursor:pointer;
}

.card-icon {
    font-size: 6rem;

}

.card-title {
    text-align: center;
}
/*End of General Styling*/


/* Mobile-first styles (applied to all screens unless overridden) */
@media (min-width: 576px) {

/* Styles for extra small devices */
    body {
        background-color: lightgreen;
    }

}

/* Medium devices (768px and up) */
@media (min-width: 768px) {

    .card-section {
        width: 85%;
        margin: 100px auto;
        display: block;
    }

    .card {
        padding: 20px;
        margin: 20px;
        background-color: whitesmoke;
        border-radius: 5%;
        height: 300px;
        width: 90%;
    }

    .card-icon {
        font-size: 6rem;

    }

    .card-title {
        text-align: center;
    }
}

/* Large devices (992px and up) */
@media (min-width: 992px) {
    body {
        background-color: lightcoral;
        /* Override background-color for large screens */
    }

    .card-section {
        display: flex;
    }

}